<!-- Image Header Area -->
<div id="top" class="header">
  <div class="header-wrapper">
    <img src="../assets/logo.png" alt="logo">
    <ul class="nav">
      <li><a href="#contact">CONTACT</a></li>
      <li><a href="#about">ABOUT</a></li>
      <li><a href="#work">WORK</a></li>
    </ul>
      <div class="h-intro">
        <h1>WEB DEVELOPER</h1>
        <p>ENGINEERING &amp; DESIGN </p>
      </div>
      <!-- <div class="header-intro">
        <p>I'm a Seattle based web developer and designer. I work on back-end engineering and front-end design.</p>
      </div> -->
   </div>
</div>


<!-- <p> I'm currently a student at <a href="https://www.codefellows.org">Code Fellows</a> in Seattle, WA, learning <span>Ruby on Rails</span>. I invite you to use this site to see what I'm learning and building. Connect with me on <a href="http://www.linkedin.com/in/philworthington22">LinkedIn</a>. Sometimes I post design stuff in my free time over at <a href="http://dribbble.com/philworthington">Dribbble</a>. You can also find me on <a href="https://github.com/philworthington">Github</a>. -->

<!-- Services -->
<div id="services" class="services">

</div>
<!-- /Services -->


<!-- Portfolio -->
<div class="item1">
  <img src="../assets/codeable.png" alt="codeable">
  <h1>Codeable</h1>
</div>


<div class="item2">
  <img src="../assets/payable.png" alt="payable">
  <h1>Payable</h1>
</div>


<div class="item3">
  <img src="../assets/goalline.png" alt="goalline">
  <h1>Goalline</h1>
</div>

<div class="item4">
  <img src="../assets/print.png" alt="print portfolio">
  <h1>Print Portfolio</h1>
</div>


<!-- Callout -->
<div class="callout">
  <div class="callout-text">
    <h1>See what I'm working on over at <a href="https://github.com/philworthington">Github</a>.</h1>
  </div>
</div>
<!-- /Callout -->

<!-- Call to Action -->
<div id="call-to-action" class="call-to-action">
  <div class="container">
    <div class="row">
      <div>
        <h3>Let me know if I can help you with anything.</h3>
        <a href="mailto:phil.worthington22@gmail.com" class="btn btn-lg btn-default">Email Me</a>
      </div>
    </div>
  </div>
</div>
<!-- /Call to Action -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div>
        <ul class="list-inline">
          <li><a href="https://github.com/philworthington"><i class="icon-github icon-2x"></i></a></li>
          <li><a href="https://twitter.com/phlworthington"><i class="icon-twitter icon-2x"></i></a></li>
          <li><a href="http://dribbble.com/philworthington"><i class="icon-dribbble icon-2x"></i></a></li>
          <li><a href="mailto:phil.worthington22@gmail.com"><i class="icon-envelope icon-2x"></i></a></li>
        </ul>
        <hr>
        <p>&copy; Phil Worthington 2013</p>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->


<script src="js/jquery.js"></script>

<script>
  var intro = $('.header-intro');
$(window).scroll(function(){
   if($(window).scrollTop()<100){
         intro.fadeIn(1000);
   } else {
         intro.fadeOut(1000);
   }
});
</script>

 <!-- Blog -->
 <!--
<div id ="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Blog</h2>
        <hr>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
-->
<!-- /Blog -->
