<!-- Image Header Area -->
<div id="top" class="header">
  <div class="header-wrapper">
    <!-- <img src="../assets/logo.png" alt="logo"> -->
    <h3>PHIL WORTHINGTON</h3>
    <ul class="nav">
      <li><a href="#contact" class="smoothScroll">CONTACT</a></li>
      <li><a href="#about" class="smoothScroll">ABOUT</a></li>
      <li><a href="#work" class="smoothScroll">WORK</a></li>
    </ul>
      <div class="h-intro">
        <h1>WEB DEVELOPER</h1>
        <p>ENGINEERING &amp; DESIGN </p>
        <a href="#intro" class="smoothScroll"><img src="../assets/arrow.png" alt="arrow"></a>
      </div>
   </div>
</div>


<!-- Services -->
<div id="intro" class="services">
  <div class="services-intro">
    <p>I'm a Seattle based web developer and designer working on back-end engineering and front-end design. I'm passionate about clean code, simple interfaces, and quality craftsmanship.</p>
    <div class="projects-btn">
      <a href="#work" class="smoothScroll"><p>TAKE A LOOK AT SOME OF MY RECENT PROJECTS BELOW</p></a>
    </div>
  </div>

</div>
<!-- /Services -->


<!-- Portfolio -->
<div id="work" class="item1">
  <img src="../assets/codeable.png" alt="codeable">
  <h1>Codeable</h1>
  <div class="item-text">
    <p>This project was built in Rails and offers a guided introduction to Ruby on Rails programming curriculum in three tiered subscription plans. It uses the Stripe API to process credit card payments and track subscription invoices. The user is able to sign in and input their credit card information to access the curriculum content. The card information is handled securely by Stripe. The front end was designed and coded using HTML5/CSS3 as well as some default styling from Twitter Bootstrap.</p>

    <div class="built-with">
      <p><span>Built with: </span>&nbsp; Ruby on Rails, HTML5, CSS3, BDD, MiniTest, Capybara, SimpleCov, Bootstrap-SASS, Devise, Simple_Form, Stripe API, Git, Heroku.</p>
    </div>

    <div class="view-project">
      <p>View this project on <a href="https://github.com/aries0420/codeable/tree/phil">Github</a></p>
    </div>
  </div>
</div>


<div class="item2">
  <img src="../assets/payable.png" alt="payable">
  <h1>Payable</h1>
  <div class="item-text">
    <p>The idea behind this app was to provide a simple way to request payment using a unique url generated for the user that they can email to a recipient. The app would connect the user to Stripe using omniauth and guide them in creating a simple invoice with an active button on the invoice that the recipient can use to pay. The user then sends a unique url via email to the recipient that contains the invoice with the active pay button. The app focuses on three steps for simple payments: Connect to Stripe, Create an Invoice, Send the URL.</p>

    <div class="item2-p2">
      <p>This app is currently in development and a work in progress.</p>
    </div>

    <div class="built-with">
      <p><span>Built with: </span>&nbsp; Ruby on Rails, HTML5, CSS3, JS/jQuery, BDD, Oauth, Stripe API, Git, Photoshop, Illustrator.</p>
    </div>

    <div class="view-project">
      <p>View this project on <a href="https://github.com/philworthington/payable">Github</a></p>
    </div>
  </div>
</div>


<div class="item3">
  <img src="../assets/goalline.png" alt="goalline">
  <h1>Goalline</h1>
  <div class="item-text">
    <p>Often the hardest part about acheiving a goal is getting started. Goalline is a Rails app created with the simple idea of taking a user's goal or task and breaking down simple, actionable steps to complete that goal or task. Users are encouraged to keep their next step simple, actionable, and focused by limiting the user's input to 35 characters for their steps and 45 characters for their goals. The interface focuses on a football theme where a goal is identified as a "goalline" and steps are "plays" used to get to the goalline.</p>

    <div class="built-with">
      <p><span>Built with: </span>&nbsp; Ruby on Rails, HTML5, CSS3, BDD, MiniTest, Capybara, SimpleCov, Bootstrap-SASS, Devise, Nested Resources, Git, Heroku, Photoshop.</p>
    </div>

    <div class="view-project">
      <p>View this project on <a href="https://github.com/philworthington/goalline">Github</a></p>
    </div>
  </div>
</div>

<div class="item4">
  <img src="../assets/print.png" alt="print portfolio">
  <h1>Print Portfolio</h1>
  <div class="item-text">
    <p>This is my personal print design portfolio featuring a one page design with a responsive animated grid layout for projects. Each project grid item links to a project page where further details such as process images and a description of the project are featured. It uses localScroll to navigate the page with animations using CSS3 and jQuery.<p>

    <div class="built-with">
      <p><span>Built with: </span>&nbsp; HTML5, CSS3, JS/jQuery, jQuery Masonry, localScroll, scrollTo, Git, Photoshop, Illustrator.</p>
    </div>

    <div class="view-project">
      <p>View this project on <a href="https://github.com/philworthington/print_design_portfolio">Github</a></p>
    </div>
  </div>
</div>


<!-- Callout -->
<div class="callout">
  <div class="callout-text">
    <h1>See what else I'm working on over on <span><a href="https://github.com/philworthington" target="_blank">Github</a></span>.</h1>
  </div>
</div>
<!-- /Callout -->


<!-- About -->
<div id="about" class="about">
  <div class="about-wrapper">
    <img src="../assets/id2.png" alt="id">
    <div class="about-list">
      <ul>
        <li><a href="https://github.com/philworthington" target="_blank" class="dark"><i class="icon-github icon-2x"></i><span>Code and projects</span></a></li>
        <li><a href="http://www.linkedin.com/in/philworthington22" target="_blank" class="blue"><i class="icon-linkedin icon-2x"></i><span>Connect?</span></a></li>
        <li><a href="http://dribbble.com/philworthington" target="_blank" class="pink"><i class="icon-dribbble icon-2x"></i><span>Some design stuff</span></a></li>
        <li><a href="mailto:phil.worthington22@gmail.com" target="_blank" class="red"><i class="icon-envelope icon-2x"></i><span>Contact me</span></a></li>
      </ul>
    </div>
    <div class="about-text">
      <p>Hi I'm Phil. As a self taught designer and now as a developer, I spent a lot of time learning and developing in my craft, having a passion for custom made work and quality craftmanship. Previously as a print designer doing mostly lettering and type work both in the community and in a freelance career, I was able to stay determined and push my skills and creativity. That same drive and determination I used to create things in print I've taken to the web to design software and interfaces, to both bring ideas to life and solve problems.</p>

      <p>While having a passion for technology and academic training behind me, I took the initiative to learn and progress in programming and software development. In the past year I moved from Virginia where I was living to make the trip across the country to Seattle, WA to join <a href="https://www.codefellows.org" target="_blank">Code Fellows</a> as a student learning Ruby on Rails. Learning to become a professional developer and being immersed in a startup and technology culture, while being taught by industry experts gave me the skills and foundation in programming best practices that I needed to be ready to help build amazing services and products.</p>
     <!--  <p> Hi I'm Phil. I'm a recent graduate of <a href="https://www.codefellows.org">Code Fellows</a> in Seattle, WA, focusing on <span>Ruby on Rails</span>. I'm driven   Connect with me on <a href="http://www.linkedin.com/in/philworthington22">LinkedIn</a>. Sometimes I post design stuff in my free time over at <a href="http://dribbble.com/philworthington">Dribbble</a>. You can also find me on <a href="https://github.com/philworthington">Github</a>. -->

      <hr>
      <div class="tools">
        <h4 class="tools-h4">TOOLS</h4>
      </div>
       <div class="tools-list">
        <p>RUBY ON RAILS &nbsp;&#149;&nbsp; HTML5 &nbsp;&#149;&nbsp; CSS3 &nbsp;&#149;&nbsp; JS/JQUERY &nbsp;&#149;&nbsp; RUBY &nbsp;&#149;&nbsp; GIT</p>
        <p>BDD &nbsp;&#149;&nbsp; AGILE &nbsp;&#149;&nbsp; HEROKU &nbsp;&#149;&nbsp; AWS &nbsp;&#149;&nbsp; PHOTOSHOP &nbsp;&#149;&nbsp; ILLUSTRATOR</p>
      </div>
    </div>
  </div>
</div>





<!-- Call to Action -->
<div id="contact" class="call-to-action">
  <h3>Contact me if there's anything I can help you with.</h3>
  <div class="btn-div">
    <a href="mailto:phil.worthington22@gmail.com" class="btn">EMAIL ME</a>
  </div>
</div>
<!-- /Call to Action -->

<!-- Footer -->
<footer>
  <div id="to_top" class="to_top">
    <a href="#top" class="smoothScroll"><img src="../assets/arrow_up.png" alt="arrow up"></a>
  </div>
  <div>
    <ul class="list-inline">
      <li><a href="https://github.com/philworthington" target="_blank"><i class="icon-github icon-2x"></i></a></li>
      <li><a href="http://www.linkedin.com/in/philworthington22" target="_blank"><i class="icon-linkedin icon-2x"></i></a></li>
      <li><a href="http://dribbble.com/philworthington" target="_blank"><i class="icon-dribbble icon-2x"></i></a></li>
      <li><a href="mailto:phil.worthington22@gmail.com" target="_blank"><i class="icon-envelope icon-2x"></i></a></li>
    </ul>
    <p>&copy; Phil Worthington 2013</p>
  </div>
</footer>
<!-- /Footer -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="../assets/smoothscroll.js"></script>

<script>
  var intro = $('.h-intro');
$(window).scroll(function(){
   if($(window).scrollTop()<100){
         intro.fadeIn(400);
   } else {
         intro.fadeOut(600);
   }
});
</script>

<script>
  $(document).scroll(function () {
      var y = $(this).scrollTop();
      if (y > 300) {
          $('.projects-btn').fadeIn();
      } else {
          $('.projects-btn').fadeOut();
      }
  });
</script>

<script>
  $(document).scroll(function () {
      var y = $(this).scrollTop();
      if (y > 4600) {
          $('.about-wrapper img').fadeIn();
      } else {
          $('.about-wrapper img').fadeOut();
      }
  });
</script>



 <!-- Blog -->
 <!--
<div id ="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Blog</h2>
        <hr>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
-->
<!-- /Blog -->
