// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**************************/
/********* GLOBAL *********/
/**************************/
html, body {
  margin: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.alert-info {
  background-color: #222222;
  border-color: #222222;
  color: #FFFFFF;
}

.alert {
  margin-bottom: 0px;
  border-radius: 0px;
}

a:hover {
  text-decoration: none;
}



/**************************/
/******** HEADER **********/
/**************************/

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
/*  background: url(../assets/bg1.png) no-repeat center center fixed;*/
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-color: #1c1d1e;
}

.header-wrapper {
  position: relative;
  width: 75%;
  margin: 0 auto;
  margin-top: 40px;
}

.nav {
  list-style: none;
  display: inline;
  color: #ccc;
}

.nav li {
  position: relative;
  display: inline;
  padding: 0 30px;
  float: right;
  top: 15px;
  font-size: .9em;
  letter-spacing: 1px;
}

.nav li a {
  text-decoration: none;
  color: #ccc;
}

.nav li a:hover {
  color: #aaa;
}







/* Services */

.services {
  background: #ccc;
  padding: 50px 0;
  color: #ffffff;
  height: 300px;
  width: 100%;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #222;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Footer */






