// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**************************/
/********* GLOBAL *********/
/**************************/
html, body {
  margin: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.alert-info {
  background-color: #222;
  border-color: #222;
  color: #fff;
}

.alert {
  margin-bottom: 0px;
  border-radius: 0px;
}

a:hover {
  text-decoration: none;
}



/**************************/
/******** HEADER **********/
/**************************/

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-color: #1c1d1e;
}

.header-wrapper {
  position: relative;
  width: 72%;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 950px;
}

.header-wrapper h3 {
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  padding: 3px 15px;
  border: 3px solid #fff;
  display: inline;
  font-size: 1em;
  position: relative;
  top: 8px;
}

.nav {
  list-style: none;
  display: inline;
  color: #ccc;
}

.nav li {
  position: relative;
  display: inline;
  float: right;
  top: 14px;
  font-size: .8em;
  letter-spacing: 1px;
}

.nav li:last-child {
  padding-right: 60px;
}

.nav li:nth-child(2) {
  padding-right: 60px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
}

.nav li a:hover {
  color: #ddd;
}

.h-intro {
  margin: 0 auto;
  width: 550px;
  position: relative;
  top: 125px;
  text-align: center;
  animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
}
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.h-intro h1 {
  font-size: 3.5em;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.h-intro p {
  font-size: 1.1em;
  color: #eee;
  letter-spacing: 2px;
  top: -40px;
  position: relative;
  font-weight: 200;
}




/* Services */

.services {
  position: relative;
  background: #222;
  color: #fff;
  height: 410px;
  width: 100%;
  margin-top: -35px;
}

.services-intro {
  margin: 0 auto;
  width: 630px;
  position: relative;
  top: 80px;
}

.services-intro p {
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 1px;
  /*color: #999;*/
  color: #ddd;
  text-align: center;
  line-height: 1.7em;
  letter-spacing: 1px;
}

.services hr {
  position: relative;
  top: 90px;
  width: 150px;
  border: 1px solid #777;
}

.tools {
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: center;
  width: 75px;
}

.tools h4 {
  text-align: center;
  position: relative;
  font-weight: 600;
  padding: 2px 10px;
  background-color: #222;
  text-decoration: none;
  color: #777;
  border-radius: 2px;
  top: 56px;
  letter-spacing: 1px;
  font-size: 1em;
}

.tools-list {
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: center;
  top: 50px;
}

.tools-list p {
  color: #777;
  font-weight: 200;
  font-size: 1em;
  letter-spacing: 1px;
}

.tools-list p:last-child {
  position: relative;
  top: -5px;
}








/* Portfolio Item 1 */

.item1 {
  position: relative;
  height: 800px;
  width: 100%;
  /*background-color: #f06861;*/
  /*background-color: #e5e5e5;*/
  background-color: #fafafa;
  display: block;
}

.item1 img {
  position: relative;
  top: 80px;
  display: block;
  margin: 0 auto;
}

.item1 h1 {
  position: relative;
  margin-top: 130px;
  text-align: center;
  color: #444;
  font-weight: 200;
  font-size: 1.8em;
}


/* Portfolio Item 2 */

.item2 {
  position: relative;
  height: 800px;
  width: 100%;
  background-color: #eee;
}

.item2 img {
  position: relative;
  top: 80px;
  display: block;
  margin: 0 auto;
}

.item2 h1 {
  position: relative;
  margin-top: 130px;
  text-align: center;
  color: #444;
  font-weight: 200;
  font-size: 1.8em;
}


/* Portfolio Item 3 */

.item3 {
  position: relative;
  height: 700px;
  width: 100%;
  /*background-color: #83b583;*/
  /*background-color: #e5e5e5;*/
  background-color: #fafafa;
}

.item3 img {
  position: relative;
  top: 80px;
  display: block;
  margin: 0 auto;
}

.item3 h1 {
  position: relative;
  margin-top: 130px;
  text-align: center;
  color: #444;
  font-weight: 200;
  font-size: 1.8em;
}


/* Portfolio Item 4 */

.item4 {
  position: relative;
  height: 700px;
  width: 100%;
  /*background-color: #83b583;*/
  background-color: #eee;
}

.item4 img {
  position: relative;
  top: 80px;
  display: block;
  margin: 0 auto;
}

.item4 h1 {
  position: relative;
  margin-top: 120px;
  text-align: center;
  color: #444;
  font-weight: 200;
  font-size: 1.8em;
}




/* Callout */

.callout {
  color: #fff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../assets/bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.callout h1 {
  text-align: center;
  position: relative;
  top: 135px;
  font-weight: 200;
  font-size: 2.7em;
}

.callout h1 span {
  color: #fff;
  font-weight: 400;
}

.callout h1 a {
  text-decoration: none;
  /*color: #45c9af;*/
  color: #fff;
}

.callout h1 a:hover {
  /*color: #17c2a0;*/
  color: #17c2a0;
}




/* About */

.about {
  position: relative;
  height: 500px;
  width: 100%;
  background-color: #fafafa;
}



/* Call to Action */

.call-to-action {
  color: #fff;
  background: #eee;
  padding: 50px 0;
  height: 200px;
}

.call-to-action h3 {
  text-align: center;
  position: relative;
  font-weight: 200;
  font-size: 1.6em;
  margin-top: 50px;
  position: relative;
  color: #444;
}

.call-to-action a {
  text-align: center;
  position: relative;
  font-weight: 400;
  padding: 15px 55px;
  background-color: #17c2a0;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  top: 10px;
  letter-spacing: 1px;
  font-size: .9em;
}

.call-to-action a:hover {
  background-color: #45c9af;
}

.btn-div {
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: center;
}



/* Footer */

footer {
  width: 100%;
  height: 200px;
  background-color: #222;
}

.list-inline {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 30px;
  right: 19px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}

.list-inline li a {
  color: #777;
  text-decoration: none;
}

.list-inline li a:hover {
  /*color: #1abc9c;*/
  color: #2da48c;
}

footer p {
  text-align: center;
  position: relative;
  top: 50px;
  font-size: .9em;
  color: #555;
}




