// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**************************/
/********* GLOBAL *********/
/**************************/
html, body {
  margin: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.alert-info {
  background-color: #222;
  border-color: #222;
  color: #fff;
}

.alert {
  margin-bottom: 0px;
  border-radius: 0px;
}

a:hover {
  text-decoration: none;
}



/**************************/
/******** HEADER **********/
/**************************/

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
/*  background: url(../assets/bg1.png) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-color: #1c1d1e;
}

.header-wrapper {
  position: relative;
  width: 72%;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 950px;
}

.nav {
  list-style: none;
  display: inline;
  color: #ccc;
}

.nav li {
  position: relative;
  display: inline;
  float: right;
  top: 12px;
  font-size: .9em;
  letter-spacing: 1px;
}

.nav li:last-child {
  padding-right: 60px;
}

.nav li:nth-child(2) {
  padding-right: 60px;
}

.nav li a {
  text-decoration: none;
  color: #ccc;
}

.nav li a:hover {
  color: #aaa;
}


.header-intro {
  margin: 0 auto;
  width: 450px;
  position: relative;
  top: 70px;
}

.header-intro p {
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 1px;
  color: #999;
  text-align: center;
  line-height: 1.7em;
  animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
}
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}




/* Services */

.services {
  position: relative;
  background: #ccc;
  color: #ffffff;
  height: 400px;
  width: 100%;
}


/* Portfolio Item 1 */

.item1 {
  position: relative;
  height: 500px;
  width: 100%;
  background-color: #e5e5e5;
}


/* Portfolio Item 2 */

.item2 {
  position: relative;
  height: 500px;
  width: 100%;
  background-color: #ddd;
}


/* Portfolio Item 2 */

.item3 {
  position: relative;
  height: 500px;
  width: 100%;
  background-color: #1c1d1e;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #222;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Footer */






